*{
     margin: 0;
     padding: 0;
    
 }
 @font-face {
    font-family: "tesla";
    src: url(/font/TESLA.ttf);
 }

.header{

    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)65%,rgba(0,0,0,0)50%),url(/Image/tesla-fans-schweiz-7_OQMgoGzDw-unsplash.jpg) ;
    background-position: center;
    background-size: cover;
    height:110vh; 
}


.navbar{
     display:flex;
    
    padding:1% 6%;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    height: 75px;
    
}

.icon{
    
    width:200px;
    float:left;
    height: 70px;
}

.logo{
    color:rgba(227, 238, 238, 0.946);
    font-size: 30px;
    font-family: tesla;
    

    padding-left: 5px;
    float: left;
    padding-top: 30px;
}

.bar{

    width: 400px;
    height: 70px;
    float: left;
}
ul{
    
    display: flex ;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

ul li{

    list-style: none;
    display:inline-block;
    position:relative;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
font-family: tesla;
 font-weight: bold;
 transition: 0.4s ease-in-out;
 display: inline-block;
 text-decoration: none;
 color: rgb(215, 219, 219);
 border: 1px solid rgb(244, 240, 240);
 border-radius: 15%;
 padding: 12px 30px;
 background: transparent;
 position: relative;
 cursor: pointer;
}

ul li a:hover{
    color: rgba(186, 184, 181, 0.863);
}


.text-box{
    width: 90%;
    color: rgb(174, 208, 208);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    border-radius: 5%;

}

.text-box h3 {
      font-size: 40px;
     
}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 30px;
    color:  rgb(204, 211, 211);

}

.text-box{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: rgb(233, 241, 241) ;
}

.btn{

    display: inline-block;
    text-decoration: none;
    color: rgb(36, 37, 37);
    border: 1px solid rgb(49, 52, 52);
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5%;

}

.btn:hover{
  border: 1px solid rgba(89, 94, 95, 0.863);
  background: rgba(94, 96, 95, 0.863) ;
  transition: 0.4s;

}



.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:black;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.info-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    
}

.info-col img{
    width: 100%;
    border-radius: 10px;
}

img{
    width: 600px;
    height: 200px;
  }

  .info-col p{
    padding: 0;
    font-size: 15px;
  }


  .info-col h3{
    margin-top:  16px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a:link {
    color: rgb(183, 176, 176);
    background-color: transparent;
    text-decoration: none;

  }
  

.footer-bottom{

    background-color: rgb(91, 88, 88) ;
    padding: 30px 20px 30px;
    text-align: center;

}

.footer-bottom p{

    color:white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}